*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Short Stack", cursive;
}

li,
a,
header button {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

header {
  height: 110px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #333;

  /* When Scrolling nav bar will stick at top*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header img {
  width: 90px;
  height: auto;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style-type: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #daad1b;
}
header button {
  padding: 9px 25px;
  background-color: #222;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: #cca525;
}

.active{
  color: #daad1b;
}